* {
  /* border: 1px solid red; */
}

body {
  background: #DEF9FA;
}

.main {
  overflow: hidden;
  box-sizing: border-box;
  background: #DEF9FA;
  width: 100%;
}

.nav {
  padding-top: 20px;
  font-family: 'Inconsolata', monospace;
  text-align: left;
}

.fullpage-item {
  display: block;
  background: #DEF9FA;
  height: 100vh;
  max-height: 960px;
  width: 82%;
  max-width: 1440px;
  margin: 0 auto;
  margin-bottom: 140px;
  position: relative;
  /* background-color: pink; */
}

.center-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  /* background: plum; */
}

.column {
  /* background-color: yellow; */
  width: 49%;
  float: left;
}

.faq-box {
  margin-left: -90px;
  max-width: 720px;
}

.room-box {
  text-align: center;
  background-color: #DEF9FA;
  z-index: 10;
}

.cell {
  position: relative;
  border: solid 3px #FF2600;
  background: #DEF9FA;
  padding: 18px;
  z-index: 5;
}

img {
  max-height: 700px;
  transition: transform 0.25s;
}

img:hover {
  transform: translate(-12px, 12px)
}

h3 {
  font-family: 'Quantico', sans-serif;
  font-size: 18px;
  text-transform: uppercase;
}

table {
  border-collapse: collapse;
  position: relative;
}

td {
  border: solid 3px #FF2600;
  width: 40%;
  padding: 18px;
  background: #DEF9FA;
  text-align: center;
}

.column-full {
  width: 100%;
  text-align: center;
}

.full-size {
  font-family: 'Quantico', sans-serif;
  text-decoration: underline;
  font-size: 58px;
  color: #FF2600;
}

.full-size {
  padding-left: 10px;
  padding-right: 10px;
}

.sub-header {
  font-size: 58px;
  color: #9013FE;
  font-family: 'Quantico', sans-serif;
  text-decoration: underline;
  margin-bottom: 10px;
}

.move-back {
  position: absolute;
}

.sticker {
  font-family: 'Quantico', sans-serif;
  text-decoration: underline;
  font-size: 52px;
  font-style: italic;
  color: #DEF9FA;
}

.purple-highlight {
  background-color: #9013FE;
  padding-right: 8px;
}

.yellow {
  color: yellow;
}

.sticker-box {
  margin-top: 10%;
  line-height: 1.2;
}

.room-container {
  margin-left: 8%;
  margin-bottom: 10%;
  margin-right: -60px;
}

.illustration {
  margin-top: 6%;
  cursor: pointer;
}

.full-size, .intro-text {
  text-align: center;
  cursor: pointer;
}

p {
  font-family: 'Inconsolata', monospace;
}

ul {
  list-style: none;
}

.footer {
  width: 100%;
  text-align: center;
}

@media (max-width: 920px) {
  .fullpage-item {
    width: 100%;
    max-height: 100%;
    margin-bottom: 20px;
    position: inherit;
  }
  .center-container {
    top: 0%;
    position: relative;
  }
  .room-container {
    margin-right: 0;
    margin-left: 0;
  }
  .faq-box {
    margin-left: 0;
  }
  .column {
    width: 100%;
    margin-top: 3%;
  }
  .move-back {
    position: relative;
  }
}

/*=====SVG ANIMATIONS========*/
#Rectangle-7{
  transition: transform 0.1s;
}
#Rectangle-7:hover {
  transform: translate(-20px)
}

/*=====GLITCH ANIMATIONS=======*/

.glitch-container {
  position: relative;
  display: block;
  height: 160px;
}

.glitch {
  position: absolute;
  top: 20%;
  animation: glitch1 2.5s infinite;
  line-height: 0;
}

.glitch:nth-child(2) {
  color: blue;
  animation: glitch2 2.5s infinite;
}

.glitch:nth-child(3) {
  color: #FF2600;
  animation: glitch3 2.5s infinite;
}
/*Keyframes*/

@keyframes glitch1 {
  0% {
    transform: none;
    opacity: 1;
  }
  7% {
    transform: skew(-0.5deg, -0.9deg);
    opacity: 1;
  }
  10% {
    transform: none;
    opacity: 1;
  }
  27% {
    transform: none;
    opacity: 1;
  }
  30% {
    transform: skew(0.8deg, -0.1deg);
    opacity: 1;
  }
  35% {
    transform: none;
    opacity: 1;
  }
  52% {
    transform: none;
    opacity: 1;
  }
  55% {
    transform: skew(-1deg, 0.2deg);
    opacity: 1;
  }
  50% {
    transform: none;
    opacity: 1;
  }
  72% {
    transform: none;
    opacity: 1;
  }
  75% {
    transform: skew(0.4deg, 1deg);
    opacity: 1;
  }
  80% {
    transform: none;
    opacity: 1;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

@keyframes glitch2 {
  0% {
    transform: none;
    opacity: 1;
  }
  7% {
    transform: translate(-2px, -3px);
    opacity: 1;
  }
  10% {
    transform: none;
    opacity: 1;
  }
  27% {
    transform: none;
    opacity: 1;
  }
  30% {
    transform: translate(-5px, -2px);
    opacity: 1;
  }
  35% {
    transform: none;
    opacity: 1;
  }
  52% {
    transform: none;
    opacity: 1;
  }
  55% {
    transform: translate(-5px, -1px);
    opacity: 1;
  }
  50% {
    transform: none;
    opacity: 1;
  }
  72% {
    transform: none;
    opacity: 1;
  }
  75% {
    transform: translate(-2px, -6px);
    opacity: 1;
  }
  80% {
    transform: none;
    opacity: 1;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

@keyframes glitch3 {
  0% {
    transform: none;
    opacity: 1;
  }
  7% {
    transform: translate(2px, 3px);
    opacity: 1;
  }
  10% {
    transform: none;
    opacity: 1;
  }
  27% {
    transform: none;
    opacity: 1;
  }
  30% {
    transform: translate(5px, 2px);
    opacity: 1;
  }
  35% {
    transform: none;
    opacity: 1;
  }
  52% {
    transform: none;
    opacity: 1;
  }
  55% {
    transform: translate(5px, 1px);
    opacity: 1;
  }
  50% {
    transform: none;
    opacity: 1;
  }
  72% {
    transform: none;
    opacity: 1;
  }
  75% {
    transform: translate(2px, 6px);
    opacity: 1;
  }
  80% {
    transform: none;
    opacity: 1;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}