/*=====FONTS & COLORS=======*/
h3 {
  font-family: 'Quantico', sans-serif;
  font-size: 18px;
  text-transform: uppercase;
}

p {
  font-family: 'Inconsolata', monospace;
  line-height: 1.3em;
}

ul {
  list-style: none;
}

.purple-highlight {
  background-color: #9013FE;
  padding-right: 8px;
}

.yellow {
  color: yellow;
}

.red {
  color: #FF2600;
}

/*=====POSITIONING=======*/
* {
  /* border: 1px solid red; */
}

body {
  background: #DEF9FA;
  cursor: url('assets/cursor-big.png'), pointer;
  cursor: -webkit-image-set(
    url('assets/cursor-big.png') 1x,
    url('assets/cursor-big.png') 2x
  ), auto;
}

.main {
  overflow: hidden;
  box-sizing: border-box;
  background: #DEF9FA;
  width: 100%;
}

.nav {
  padding-top: 20px;
  padding-left: 20px;
  font-family: 'Inconsolata', monospace;
  text-align: left;
}

.fullpage-item {
  display: block;
  background: #DEF9FA;
  height: 100vh;
  width: 82%;
  max-width: 1440px;
  margin: 0 auto;
  margin-bottom: 140px;
  position: relative;
}

.center-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: block;
}

.column {
  width: 49%;
  float: left;
}

.move-back {
  position: absolute;
}

/*=====SPECIFIC POSITIONING=======*/

/*SCREEN-01*/
#screen-01 {
  width: 100%;
}

#faq-box {
  margin-left: -90px;
  max-width: 720px;
}

.room-container {
  margin-left: 8%;
  margin-right: -60px;
}

.room-box {
  text-align: center;
  background-color: #DEF9FA;
  z-index: 10;
}

.cell {
  position: relative;
  border: solid 3px #FF2600;
  background: #DEF9FA;
  z-index: 5;
  text-align: left;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 3%;
  padding-bottom: 3%;
}

img {
  max-height: 700px;
}

table {
  border-collapse: collapse;
  position: relative;
}

td {
  border: solid 3px #FF2600;
  width: 40%;
  background: #DEF9FA;
  text-align: left;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 3%;
  padding-bottom: 3%;
}

.column-full {
  width: 100%;
  text-align: center;
}

.intro-container {
  width: 60%;
  margin: 0 auto;
}

.full-size:hover {
  cursor: url('assets/cursor-big-flip.png'), auto;
  cursor: -webkit-image-set(
    url('assets/cursor-big-flip.png') 1x,
    url('assets/cursor-big-flip.png') 2x
  ), auto;
}

.full-size {
  font-family: 'Quantico', sans-serif;
  text-decoration: underline;
  font-size: 54px;
  color: #FF2600;
  padding-left: 10px;
  padding-right: 10px;
}

.sub-header {
  font-size: 58px;
  color: #9013FE;
  font-family: 'Quantico', sans-serif;
  text-decoration: underline;
  margin-bottom: 10px;
}

.sticker {
  font-family: 'Quantico', sans-serif;
  text-decoration: underline;
  font-size: 52px;
  font-style: italic;
  color: #DEF9FA;
}

.sticker-box {
  margin-top: 10%;
  line-height: 1.2;
}

.room-box{
  margin-left: 8%;
  margin-bottom: 10%;
  margin-right: -60px;
}

.image-container {
  margin-left: -15px;
  z-index: 1;
}

.full-size, .intro-text {
  text-align: center;
}

.footer {
  width: 100%;
  text-align: center;
  margin-bottom: 140px;
}

/*=====DECO ARROWS========*/
.arrows {
  display: block;
  position: absolute;
  top: 50%;
  width: 20%;
  transform: translateY(-50%);
  z-index: 5;
}

.arrows-left {
  left: 0;
}

.arrows-right {
  right: 0;
}

#illustration-right {
  width: 100%;
  max-width: 230px;
  margin-left: 50px;
}

#illustration-left {
  width: 100%;
  max-width: 230px;
  margin-right: 50px;
}


/*====KEYFRAME ANIMATIONS========*/

.animation-01 {
  animation: animation-01 1000ms ease 1;
}

@keyframes animation-01 {
  0%, 100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-14px, -14px);
  }
}

.animation-02 {
  animation: animation-02 1000ms ease 1;
}

@keyframes animation-02 {
  0%, 100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(14px, 14px);
  }
}

.letter-animation {
  animation: letter-animation 1000ms ease 1;
}

@keyframes letter-animation {
  0%, 100% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(80px);
  }
}

/*=====SVG ANIMATIONS========*/
.illustration-wrapper {
  display: block;
  position: relative;
  padding-top: 5%;
}

.envelope-wrapper {
  position: absolute;
  cursor: url('assets/cursor-big-flip.png'), auto;
  cursor: -webkit-image-set(
    url('assets/cursor-big-flip.png') 1x,
    url('assets/cursor-big-flip.png') 2x
  ), auto;
}

#letter-wrapper {
  position: absolute;
  left: 20%;
  margin-top: 18px;
  transition-timing-function: ease-out;
  transition: transform 0.4s;
  animation-iteration-count: 1;

  cursor: url('assets/cursor-big-flip.png'), auto;
  cursor: -webkit-image-set(
    url('assets/cursor-big-flip.png') 1x,
    url('assets/cursor-big-flip.png') 2x
  ), auto;
}

/*=====GLITCH ANIMATIONS=======*/
/*=TAKEN FROM https://codepen.io/FelixRilling/pen/vNJoMy=*/
.glitch-container {
  position: relative;
  display: block;
  height: 160px;
}

.glitch {
  position: absolute;
  top: 20%;
  animation: glitch1 2.5s infinite;
  line-height: 0;
}

.glitch:nth-child(2) {
  color: blue;
  animation: glitch2 2.5s infinite;
}

.glitch:nth-child(3) {
  color: #FF2600;
  animation: glitch3 2.5s infinite;
}

.footer-glitch {
  display: block;
  width: auto;
}

.footer-glitch-el {
  display: block;
  margin: 0 auto;
  height: 80px;
  width: 100%;
}

/*=====KEYFRAMES=======*/
@keyframes glitch1 {
  0% {
    transform: none;
    opacity: 1;
  }
  7% {
    transform: skew(-0.5deg, -0.9deg);
    opacity: 1;
  }
  30% {
    transform: skew(0.8deg, -0.1deg);
    opacity: 1;
  }
  35% {
    transform: none;
    opacity: 1;
  }
  52% {
    transform: none;
    opacity: 1;
  }
  55% {
    transform: skew(-1deg, 0.2deg);
    opacity: 1;
  }
  50% {
    transform: none;
    opacity: 1;
  }
  72% {
    transform: none;
    opacity: 1;
  }
  75% {
    transform: skew(0.4deg, 1deg);
    opacity: 1;
  }
  80% {
    transform: none;
    opacity: 1;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

@keyframes glitch2 {
  0% {
    transform: none;
    opacity: 1;
  }
  7% {
    transform: translate(-2px, -3px);
    opacity: 1;
  }
  10% {
    transform: none;
    opacity: 1;
  }
  27% {
    transform: none;
    opacity: 1;
  }
  30% {
    transform: translate(-5px, -2px);
    opacity: 1;
  }
  35% {
    transform: none;
    opacity: 1;
  }
  52% {
    transform: none;
    opacity: 1;
  }
  55% {
    transform: translate(-5px, -1px);
    opacity: 1;
  }
  50% {
    transform: none;
    opacity: 1;
  }
  72% {
    transform: none;
    opacity: 1;
  }
  75% {
    transform: translate(-2px, -6px);
    opacity: 1;
  }
  80% {
    transform: none;
    opacity: 1;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

@keyframes glitch3 {
  0% {
    transform: none;
    opacity: 1;
  }
  7% {
    transform: translate(2px, 3px);
    opacity: 1;
  }
  10% {
    transform: none;
    opacity: 1;
  }
  27% {
    transform: none;
    opacity: 1;
  }
  30% {
    transform: translate(5px, 2px);
    opacity: 1;
  }
  35% {
    transform: none;
    opacity: 1;
  }
  52% {
    transform: none;
    opacity: 1;
  }
  55% {
    transform: translate(5px, 1px);
    opacity: 1;
  }
  50% {
    transform: none;
    opacity: 1;
  }
  72% {
    transform: none;
    opacity: 1;
  }
  75% {
    transform: translate(2px, 6px);
    opacity: 1;
  }
  80% {
    transform: none;
    opacity: 1;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

/*=====MEDIA BREAKPOINTS========*/
@media (max-width: 920px) {
  .arrows {
    display: none;
  }
  .fullpage-item {
    width: 100%;
    max-height: 100%;
    margin-bottom: 20px;
    position: inherit;
  }
  .center-container {
    top: 0%;
    position: relative;
  }
  .intro-container {
    width: 100%;
  }
  #room-container {
    margin-right: 0;
    margin-left: 0;
  }
  #faq-box {
    margin-left: 0;
  }
  .column {
    width: 100%;
    margin-top: 3%;
  }
  .move-back {
    position: relative;
  }
  .image-container {
    width: 100%;
  }
  .illustration-wrapper {
    margin-bottom: 170px;
  }
}